@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://media.istockphoto.com/id/1391097609/es/vector/patr%C3%B3n-de-fondo-de-pieza-de-rompecabezas-sin-fisuras.jpg?s=612x612&w=0&k=20&c=BEYU1KGn5f6N2skcINPIGAiBfppfEvbqCtC--waEgMc=);
}

body {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.screen {
    display: inline-block;
    background: white;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 1000px;
    padding: 65px;
    height: 540px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    margin: 10px;
}

h1,
p {
    background: white;
}

p,
.go-start-button {
    margin: 15px;
}

.reward,
.key-reward,
.description-reward {
    background: white;
}

.key-reward {
    width: 140px;
}

.description-reward {
    font-weight: 700;
}

.go-start-button {
    background: rgb(168, 7, 168);
    color: white;
    font-weight: 500;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}

.go-start-button:hover {
    background-color: white;
    color: rgb(168, 7, 168);
    border: solid 2px rgb(168, 7, 168);
    transform: scale(1.1);
}

/*------------ RESPONSIVE ------------*/
@media (max-width: 601px) {
    .screen {
        padding: 20px;
        width: 90%;
        height: 600px;
    }

    h1 {
        font-size: 25px;
    }

    .go-start-button {
        width: 180px;
        height: 40px;
        font-size: 14px;
    }
}